.button-container {
    width: 100%;
    min-width: 165px;
    height: 40px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    // border-radius: 25px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #FFFFFF;
        color: black;
        border: 1px solid black;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: white;

        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }

    &.inverted {
        background-color: white;
        color: black;
        border: 1px solid black;

        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }
}